.topnav a {
  float: left;
  display: block;
  color: #e61515;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.navigator a:hover {
  background-color: #ddd;
  color: black;
}
