.display {
  color: grey;
}
button {
  transition-duration: 0.4s;
  border-radius: 14px;
}
button :hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: grey; /*Grey */
  color: rgb(147, 247, 16);
}
input {
  margin: 2%;
}
table {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0bfaee;
  color: white;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

div {
  border-radius: 25px;
  background: #aef188;
  padding: 20px;
  width: 50%;
  height: 150px;
}
