<br><br>

<div class="display">
  <br>
  <h1> Welcome to support</h1>
  <span> For customer Support
    contact: 123456789 or
    email: support@support.com

    Store Address:
    777 Burrard st, Vancouver BC. V3J53J
  <br><br>
<br>
</span> </div> <br><br>
<div>
  <br>
  <label for="bitcoin"> Enter The Name:</label>
  <input type="text" name="bitcoin" id="bitcoin">
  <button (click)="getBitCoinPrices()"> View</button>
</div>
<br>
<table class="table" *ngIf="showTable">
  <tr>
    <th> Brewery Name</th>
    <th> city</th>
    <th>State</th>
    <th>Website</th>
  </tr><br>
  <tr *ngFor="let bitcoin of bitCoinList">
    <td>{{bitcoin.name}}</td>
    <td>{{bitcoin.city}}</td>
    <td>{{bitcoin.state}}</td>
    <td>{{bitcoin.website_url}}</td>
  </tr>
</table>
