.topnav a {
  float: left;
  display: block;
  color: #e61515;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
div {
  border-radius: 25px;
  background: #ee6efa;
  padding: 20px;
  width: 50%;
  height: 100%;
}
