.navigator a {
  float: left;
  display: block;
  width: 13%;
  color: rgb(17, 17, 17);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: rgba(199, 199, 190, 0.959);
  overflow: hidden;
}


/* Style the topnav links */
.topnav a {
  border-radius: 25px;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.navigator a:hover {
  background-color: #ddd;
  color: black;
}
